.homer {
  width: 200px;
  height: 300px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.homer::before,
.homer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  border-radius: 50%;
}

.homer::before {
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

.homer::after {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}

.homer .mouth {
  width: 80px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  left: 60px;
}

.homer .eyes {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 70px;
}

.homer .eyes::before,
.homer .eyes::after {
  content: "";
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.homer .eyes::before {
  left: -40px;
}

.homer .eyes::after {
  left: 20px;
}

.homer .nose {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 90px;
}

.homer .hair {
  width: 200px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 0;
}

.homer .hair::before,
.homer .hair::after {
  content: "";
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.homer .hair::before {
  left: -50px;
}

.homer .hair::after {
  left: 200px;
}
